/* Page layout */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    background-color: #B4C788;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: none;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, serif;
    color: white;
}
a{
  color: white;
}
a:hover {
    color: #F8C9CD;
}
header{
  margin: 0;
  padding: 1% 2%;
  width: 96%;
  background-color: #391A4E;
  border-top: 8px solid #9E8DAB;
}
main{
  width: 90%;
  margin: auto;
}
.messages{
  width: 90%;
  padding: 1%;
  margin: auto;
  color: #F8C9CD;
}
nav {
  width: 90%;
  margin: auto;
  padding: 0;
  float: left;
}
.button{
  padding: 1%;
  margin: 0 2%;
  border: 2px solid white;
  color: white;
  width: 15%;
  text-align: center;
  float: left;
}
.restaurant{
  background-color: #624577;
  color: white;
  border: 2px solid white;
  width: 25%;
  margin: 1%;
  padding: 2%;
  float: left;
  border-radius: 25px;
  opacity: .9;
}
.menuItem{
  background-color: #624577;
  color: white;
  border: 2px solid white;
  width: 25%;
  margin: 1%;
  padding: 2%;
  float: left;
  border-radius: 25px;
  opacity: .9;
}
fieldset{
  background-color: #624577;
  color: white;
  border: 2px solid white;
  width: 25%;
  margin: 1%;
  padding: 2%;
  float: left;
  border-radius: 25px;
  opacity: .9;
}

/*
#90A65C - Green
#E2EFC2 - light
#B4C788 - light/med
#6D823D - med/dark
#576E20 - dark

#AC5F65	- Red
#F8C9CD - light
#CF8D92 - light/med
#873F44 - med/dark
#722127 - dark

#624577	- Purple
#9E8DAB - light
#7D648E - light/med
#4A2E5D - med/dark
#391A4E - dark
*/
