<!DOCTYPE html>
<html>
  <head>
    <title>Delete {{restaurant.name}}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <h1>Delete {{restaurant.name}}?</h1>
    </header>
    <main>
      <div class='messages'></div>
      <nav>
        <div class='button'>
          <a href='{{url_for('showRestaurants')}}'>Cancel</a>
        </div>
      </nav>
      <form action="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}" method = 'POST'>
        <fieldset>
          <label for='delete'>Are you rusre you want to delete {{restaurant.name}}?</label><br>
          <input type='submit' value='Delete'>
        </fieldset>
      </form>
    </main>
  </body>
</html>
