<!DOCTYPE html>
<html>
  <head>
    <title>Edit {{item.name}}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <h1>Edit {{item.name}}</h1>
    </header>
    <main>
      <div class='messages'></div>
      <nav>
        <div class='button'>
          <a href='{{url_for('showMenu', restaurant_id = restaurant_id)}}'>Cancel</a>
        </div>
      </nav>

      <form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>
        <fieldset>
          <p>
            <label for='name'>Name:</label><br>
            <input type='text' name='name' placeholder="{{item.name}}">
          </p>
          <p>
            <label for='price'>Price:</label><br>
            <input type='text' name='price' placeholder="{{item.price}}">
          </p>
          <p>
            <label for='course' selected='item.course'>Course:</label><br>
            <select name='course'>
              <option value='Appetizer'>Appetizer</option>
              <option value='Salad'>Salad</option>
              <option value='Soup'>Soup</option>
              <option value='Fish'>Fish</option>
              <option value='Entree'>Entree</option>
              <option value='Dessert'>Dessert</option>
              <option value='Drinks'>Drinks</option>
            </select>
          </p>
          <p>
            <label for='description'>Description:</label><br>
            <textarea name='description' cols=50 rows=10>{{item.description}}</textarea>
          </p>
          <input type='submit' value='Edit'>
        </fieldset>

      </form>

    </main>
  </body>
</html>
