<!DOCTYPE html>
<html>
  <head>
    <title>Edit {{item.name}}</title>
  </head>
  <body>
    <h1>Edit {{item.name}}</h1>
    <form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>
      <fieldset>
        <p>
          <label for='name'>Name:</label><br>
          <input type='text' name='name' placeholder="{{item.name}}">
        </p>
        <p>
          <label for='price'>Price:</label><br>
          <input type='text' name='price' placeholder="{{item.price}}">
        </p>
        <p>
          <label for='course' selected='item.course'>Course:</label><br>
          <select name='course'>
            <option value='appetizer'>Appetizer</option>
            <option value='salad'>Salad</option>
            <option value='soup'>Soup</option>
            <option value='fish'>Fish</option>
            <option value='entree'>Entree</option>
            <option value='dessert'>Dessert</option>
          </select>
        </p>
        <p>
          <label for='description'>Description:</label><br>
          <textarea name='description' cols=50 rows=10>{{item.description}}</textarea>
        </p>
        <input type='submit' value='Edit'>
      </fieldset>

    </form>
    <p><a href='{{url_for('showMenu', restaurant_id = restaurant_id)}}'>Cancel</a></p>
  </body>
</html>
