<!DOCTYPE html>
<html>
  <head>
    <title>New Menu Item: {{restaurant.name}}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <h1>New Menu Item: {{restaurant.name}}</h1>
    </header>
    <main>
      <div class='messages'></div>
      <nav>
        <div class='button'>
          <a href='{{url_for('showMenu', restaurant_id = restaurant.id)}}'>Cancel</a>
        </div>
      </nav>
      <form action="{{ url_for('newMenuItem', restaurant_id = restaurant.id)}}" method='post'>
        <fieldset>
          <p>
            <label for='name'>New Menu Item Name:</label><br>
            <input type='text' name='name'>
          </p>
          <p>
            <label for='price'>Price:</label><br>
            <input type='text' name='price'>
          </p>
          <p>
            <label for='course'>Course:</label><br>
            <select name='course'>
              <option value='Appetizer'>Appetizer</option>
              <option value='Salad'>Salad</option>
              <option value='Soup'>Soup</option>
              <option value='Fish'>Fish</option>
              <option value='Entree'>Entree</option>
              <option value='Dessert'>Dessert</option>
              <option value='Drinks'>Drinks</option>
            </select>
          </p>
          <p>
            <label for='description'>Description:</label><br>
            <textarea name='description' cols=50 rows=10></textarea>
          </p>
          <input type='submit' value='Create'>
        </fieldset>
      </form>

    </main>
  </body>
</html>
