<!DOCTYPE html>
<html>
  <head>
    <title>Create New Restaurant</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <h1>Create New restaurant</h1>
    </header>
    <main>
      <p><a href='{{url_for('showRestaurants')}}'>Cancel</a></p>
      <form action="{{url_for('newRestaurant')}}" method='POST'>
        <fieldset>
          <p>
            <label for='name'>Name:</label><br>
            <input type='text' name='name'>
          </p>
          <p>
            <input type='submit' value='Create'>
          </p>
        </fieldset>
      </form>

    </main>
  </body>
</html>
