<!DOCTYPE html>
<html>
  <head>
    <title>View All Restaurants</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <header>
      <h1>Restaurant Menu Application</h1>
    </header>
    <main>
      <div class='messages'>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <strong>{{ message }}</strong>
        {% endfor %}
        {% endwith %}
      </div>
      <nav>
        <div class='button'>
          <a href='{{url_for('newRestaurant')}}'>New Restaurant</a>
        </div>
      </nav>
      {% for r in restaurants%}
      <div class='restaurant'>
        <h3><a href='{{url_for('showMenu', restaurant_id = r.id)}}'>{{r.name}}</a></h3>
        <p><a href='{{url_for('editRestaurant', restaurant_id = r.id)}}'>Edit</a></p>
        <p><a href='{{url_for('deleteRestaurant', restaurant_id = r.id)}}'>Delete</a></p>
      </div>
      {% endfor %}
    </main>
  </body>
</html>
